{% extends 'base.html' %}

{% block content %}

<h2>Category: {{ category.name }}</h2>
<h3>Question {{ count }} / 5</h3>
<h3>Score: {{ score }}</h3>
<h3>{{ question.question_text }}</h3>


<div>
   <form method="post" id="quizForm">
    {% csrf_token %}

    <button name="answer" value="{{ question.option1 }}">
        {{ question.option1 }}
    </button>

    <button name="answer" value="{{ question.option2 }}">
        {{ question.option2 }}
    </button>

    <button name="answer" value="{{ question.option3 }}">
        {{ question.option3 }}
    </button>

    <button name="answer" value="{{ question.option4 }}">
        {{ question.option4 }}
    </button>
</form>

</div>

{% endblock %}
